


.container{
  position: relative;
  top: 70px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: white;
  font-size: 32pt;
  font-family: 'Ubuntu', sans-serif;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#password {

	
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.info-login{
	color: white;	
	font-size: 13pt;
}

html,
body,


.view {
    background: url("../resources/imagens/fundo-login.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2{
  color: Ivory
}

b,#check{
  color: navy;
}

#erro{
	color: red;
	text-decoration: blink; 
}

.clinica-brand{
	margin-top: -40px;
	color: white;
	font-size: 32pt;
  font-family: 'Droid Sans', sans-serif;
}

